@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.toolbar {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.toolbar ul {
  list-style: none;
  display: flex;
}

.toolbar a {
  text-decoration: none;
  font-size: 18px;
  color: #6070ff;
}

.socialMedia a {
  text-decoration: none;
}

.toolbar ul a {
  font-weight: 500;
  font-size: 15px;
  margin: 10px;
  text-decoration: none;
}

.toolbar button {
  background-color: inherit;
  border: none;
  color: #6070ff;
  font-size: 38px;
}

.myLogo {
  font-weight: 700;
  color: #6070ff;
  font-size: 18px;
}

.headline {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 50px;
  justify-items: center;
  background-image: url("./assets/header-shapes-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150% 100%;
}

.intro {
  margin: 70px 10px;
}

.headline h1,
.about-me h1 {
  font-weight: 700;
  font-size: 40px;
  color: #091e42;
  line-height: 52px;
  margin: 0;
}

.mainText {
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

.socialMedia h2 {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
}

.socialMedia img {
  margin-right: 10px;
}

.socialMedia ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.work-card img {
  width: 100%;
  height: auto;
  margin: auto;
}

.socialMedia img:hover {
  background-color: #6070ff;
}

button:hover {
  color: #fff;
  background-color: #6070ff;
}

.works-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 90px;
}

.work-card {
  border: 1px solid #dfe1e6;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 0 12px;
}

.card-1 {
  grid-column: 1;
  grid-row: 1;
}

.card-2 {
  grid-column: 1;
  grid-row: 2;
}

.card-3 {
  grid-column: 1;
  grid-row: 3;
}

.card-4 {
  grid-column: 1;
  grid-row: 4;
}

.highlights {
  display: flex;
  align-items: baseline;
}

.highlights ul {
  display: flex;
  margin: 0;
}

.highlights li {
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
  margin-left: 0;
  margin-right: 25px;
}

.project-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-name {
  font-weight: 600;
  font-size: 13px;
  color: #344563;
  margin-top: 0;
  margin-bottom: 10px;
}

.work-lenguages ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.work-lenguages li {
  background-color: #ebebff;
  color: #6070ff;
  margin-right: 8px;
  margin-left: 0;
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.work-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.work-button {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #6070ff;
  width: 50%;
  padding: 12px;
  margin-top: 20px;
}

.about-me {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 50px auto;
  justify-items: center;
  background-image: url("./assets/BaseAboutMySelf.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(245, 245, 245);
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.languages-option {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}

.languages ul {
  list-style-type: none;
  padding: 0;
}

.languages-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
}

.frameworks {
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
}

.frameworks ul {
  margin: 0;
  padding: 0;
}

.frameworks li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding-bottom: 10px;
  padding-right: 40px;
  border-bottom: 1px solid #dfe1e6;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.arrow-down {
  transform: rotate(90deg);
}

.arrow-button {
  font-size: 20px;
  background-color: white;
  border: none;
}
