@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*
  ******************************************************************************
    General properties
  ******************************************************************************
*/
* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 70px;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

:root {
  --new-work-li-color-hi: #6c7687;
  --new-work-li-color-lan: #505edb;
  --new-primary-color: #5464f2;
  --original-primary-color: #6070ff;
}

/*
  ******************************************************************************
    Toolbar properties
  ******************************************************************************
*/

.toolbar {
  display: flex;
  margin-top: 0;
  padding: 15px 36px 0 15px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.nav-bar ul {
  list-style: none;
  display: none;
  background-color: #fff;
}

.myLogo a {
  font-family: 'Pacifico', cursive, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  color: var(--new-primary-color);
  background-color: #fff;
}

.hover {
  height: 40px;
}

.hover:hover {
  background-color: #505edb;
  color: white;
  height: 40px;
  border-radius: 50%;
}

/* This line belongs to Welcome screen, but to fix a linter error it is place here */
.socialMedia a {
  text-decoration: none;
}

.nav-bar ul li a {
  text-decoration: none;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #344563;
  margin: 10px;
  padding: 5px;
}

.hamburger-button {
  background-color: transparent;
  border: none;
  color: var(--new-primary-color);
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

/*
  ******************************************************************************
    Welcome section properties
  ******************************************************************************
*/
.welcome-section {
  background-image: url("./assets/mobile/header-background.png"), url("./assets/mobile/header-shapes.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left, 0 30px;
  background-size: cover, 100% 88%;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #fff;
}

.hamburger-button:hover {
  background-color: var(--new-primary-color);
  border: none;
  color: #fff;
}

.headline {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 50px;
  justify-items: center;
}

.intro {
  margin: 70px 10px;
}

.headline h1 {
  font-weight: 700;
  font-size: 40px;
  color: #091e42;
  background-color: transparent;
  line-height: 52px;
  margin: 0;
  margin-top: 30px;
  width: 80%;
}

.mainText {
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  background-color: #fff;
}

.socialMedia h2 {
  color: var(--new-primary-color);
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.socialMedia ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.socialMedia img {
  margin-right: 10px;
}

/*
  ******************************************************************************
    Works section properties
  ******************************************************************************
*/

.work-card img {
  width: 100%;
  height: auto;
  margin: auto;
}

.works-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 90px;
}

.work-card {
  border: 1px solid #dfe1e6;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 0 12px;
}

.card-1 {
  grid-column: 1;
  grid-row: 1;
}

.card-2 {
  grid-column: 1;
  grid-row: 2;
}

.card-3 {
  grid-column: 1;
  grid-row: 3;
}

.card-4 {
  grid-column: 1;
  grid-row: 4;
}

.highlights {
  display: flex;
  align-items: baseline;
}

.highlights ul {
  display: flex;
  margin: 0;
}

.highlights li {
  font-weight: 600;
  font-size: 13px;
  color: var(--new-work-li-color-hi);
  margin-left: 0;
  margin-right: 25px;
}

.project-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-name {
  font-weight: 600;
  font-size: 13px;
  color: #344563;
  margin-top: 0;
  margin-bottom: 10px;
}

.work-lenguages ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.work-lenguages li {
  background-color: #ebebff;
  color: var(--new-work-li-color-lan);
  margin-right: 8px;
  margin-left: 0;
  margin-bottom: 5px;
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.work-info p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.work-button {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: white;
  border-radius: 8px;
  border: 1px solid var(--new-primary-color);
  width: 50%;
  padding: 12px;
  margin-top: 20px;
}

.work-button:hover {
  background-color: var(--new-primary-color);
  color: #fff;
}

.work-button:focus {
  background-color: var(--new-primary-color);
  color: #fff;
}

.work-button:active {
  background-color: #2230d2;
  color: #fff;
}

.work-button:disabled {
  background-color: #fff;
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

/*
  ******************************************************************************
    Project details section properties
  ******************************************************************************
*/

.popup {
  width: 95%;
  height: 100%;
  min-height: 95vh;
  overflow: auto;
  background-color: #c1c7d0;
  background-image: url('./assets/backgroundDetail.png');
  background-repeat: no-repeat;
  padding-top: 16px;
  padding-bottom: 10px;
}

.popup > hr {
  background: rgba(13, 21, 30, 1);
  height: 5px;
  width: 134px;
  left: 120px;
  top: 21px;
  border-radius: 10px;
  margin-top: 24px;
  margin-bottom: 20px;
}

.detail-container {
  width: 95%;
  height: auto;
  background-color: white;
  margin: 10px auto;
  padding: 18px 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-info {
  height: 60%;
}

.detail-header {
  display: flex;
  justify-content: space-between;
}

.detail-header button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: #67798e;
}

.detail-container img {
  width: 90%;
  margin: 0 auto;
  height: auto;
}

.detail-container p {
  width: 100%;
  height: auto;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.details-footer {
  display: flex;
  justify-content: space-between;
}

.details-footer button {
  width: 49%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.lenguage-card img {
  width: 48px;
  height: auto;
  margin-right: 20px;
}

.details-footer button img {
  height: 20px;
  width: 20px;
}

.detail-container hr {
  border: 1px solid #ebecf0;
}

@media screen and (min-width: 641px) {
  .detail-container img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
  }

  .popup {
    width: 90%;
    height: 95%;
    margin-left: 5%;
  }

  .detail-info {
    display: flex;
  }

  .detail-info p {
    width: 60%;
  }

  .tech-demo {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    width: 35%;
  }
}

/*
  ******************************************************************************
    About-me section properties
  ******************************************************************************
*/

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 50px auto;
  justify-items: center;
  background-image: url("./assets/mobile/about-me-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f7f7f9;
}

.about-me h2 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 10px;
}

.about-me h3 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: var(--new-primary-color);
  background-color: #fff;
}

.about-technologies {
  width: 100%;
}

.languages-option {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}

.languages {
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  flex-wrap: wrap;
}

.lenguage-card {
  display: flex;
  width: 100%;
  background-color: #f7f7f9;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 9px;
  margin-bottom: 10px;
}

.socialMedia img:hover {
  transform: scale(2.2);
}

.socialMedia ul > li > a:focus img {
  transform: scale(2.2);
}

.lenguage-card p {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
}

.languages ul {
  list-style-type: none;
  padding: 0;
}

.languages-option h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  color: #344563;
  background-color: #fff;
}

.frameworks {
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
}

.frameworks ul {
  margin: 0;
  padding: 0;
}

.frameworks li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding-bottom: 10px;
  padding-right: 40px;
  border-bottom: 1px solid #dfe1e6;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  background-color: #fff;
}

.socialMedia ul li {
  margin-left: 0;
  margin-right: 6px;
}

.arrow-down {
  transform: rotate(90deg);
}

.arrow-button {
  font-size: 20px;
  background-color: white;
  border: none;
}

.arrow-button:hover {
  background-color: var(--new-primary-color);
  color: #fff;
}

.arrow-button:active {
  background-color: #2230d2;
  color: #fff;
}

.arrow-button:disabled {
  background-color: #fff;
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

/*
  ******************************************************************************
    Contact-me section properties
  ******************************************************************************
*/

.contact-me {
  background-image: url("./assets/mobile/contact-me-background.png"), url("./assets/mobile/contact-me-shapes.png");
  background-repeat: no-repeat no-repeat;
  background-position: left, 140px 20px;
  background-size: cover, 60% 92%;
  background-blend-mode: lighten;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me h3 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  background-color: var(--original-primary-color);
  margin-top: 103px;
  margin-bottom: 0;
}

.contact-me form {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.error,
.contact-me p {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  padding: 10px;
  color: #fff;
  background-color: var(--original-primary-color);
  margin-top: 10px;
}

.contact-me textarea {
  width: 100%;
  height: 10rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  padding: 20px 10px;
}

.input-field-contact {
  width: 100%;
  height: 2rem;
  margin: 10px auto;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  padding: 30px 10px;
}

.input-field-contact:focus {
  background-color: antiquewhite;
}

.input-field-contact:invalid {
  border: 2px solid red;
}

.input-field-contact:valid {
  border: 3px solid green;
}

.contact-me textarea:focus {
  background-color: antiquewhite;
}

.contact-me textarea:invalid {
  border: 2px solid red;
}

.contact-me textarea:valid {
  border: 2px solid green;
}

.contact-me hr {
  background: rgba(13, 21, 30, 1);
  height: 5px;
  width: 134px;
  left: 120px;
  top: 21px;
  border-radius: 10px;
  margin-top: 24px;
  margin-bottom: 10px;
}

.error.active {
  padding: 0.3em;
}

/*
  Apply this styling for all screens wider than 641px
*/
@media screen and (min-width: 641px) {
  .welcome-section {
    background-image: url("./assets/desktop/header-background.png"), url("./assets/desktop/Headerbg@2x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left, 0 50px;
    background-size: cover, 100% 94%;
    background-blend-mode: darken;
    margin-bottom: 60px;
    height: 85vh;
  }

  .headline {
    width: 70%;
    margin: auto;
  }

  .hamburger-button {
    display: none;
  }

  .toolbar {
    justify-content: space-between;
    width: 100%;
    position: fixed;
  }

  .toolbar ul {
    display: flex;
  }

  .toolbar a:hover {
    background-color: var(--new-primary-color);
    color: #fff;
    border-radius: 8px;
  }

  .toolbar a:focus {
    background-color: var(--new-primary-color);
    color: #fff;
  }

  .socialMedia ul li {
    margin-right: 21px;
  }

  .contact-me {
    background-image: url("./assets/desktop/contact-background.png"), url("./assets/desktop/contact-shapes.png");
    background-repeat: no-repeat no-repeat;
    background-position: left, 50px 70px;
    background-size: 100% 100%, 90% 90%;
    background-blend-mode: lighten;
  }

  .contact-me hr {
    display: none;
  }

  .contact-me form {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .contact-me p {
    width: 40%;
  }

  .button-contact-form {
    color: #5664e5;
    width: 140px;
  }

  .about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-items: flex-start;
    justify-content: center;
    height: 100vh;
  }

  .about-intro {
    width: 35%;
    margin-right: 30px;
    margin-left: 10%;
  }

  .about-technologies {
    width: 60%;
  }

  .languages {
    flex-direction: row;
    gap: 10px;
  }

  .text-centered {
    text-align: center;
  }

  .lenguage-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
  }

  .lenguage-card img {
    max-width: 64px;
    max-height: 64px;
    margin-right: 0;
    flex: 1;
  }

  .work-button {
    width: 180px;
  }

  .works-container {
    background-color: #e5e5e5;
    padding: 142px 0;
  }

  .work-card {
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .work-card img {
    width: 50%;
    height: auto;
    margin: 20px;
  }

  .work-card img:hover {
    transform: scale(1.1);
  }

  .myLogo {
    animation-duration: 2s;
    animation-name: rotate;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .work-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
  }

  .even-row {
    flex-direction: row-reverse;
  }
}

/*
  Apply this styling to just tablet (641px-995px)
*/
@media screen and (min-width: 641px) and (max-width: 995px) {
  .intro h1 {
    color: #091e42c9;
  }
}

/*
  Apply this styling to tablet's landscape and standard monitors
*/
@media screen and (min-width: 996px) and (max-width: 1100px) {
  .intro h1 {
    color: #091e42e5;
  }
}

/*
  Apply this for wide screen
*/
@media screen and (min-width: 1101px) {
  .intro h1 {
    color: #091e42f1;
  }
}
